name: Code Quality Checks
on:
  pull_request:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell Check with Typos
        uses: crate-ci/typos@master
        with:
          config: ./.github/typos.toml

      - name: Install Taplo
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: taplo-cli
          locked: true
      - name: Check TOML formatting
        run: taplo format --check

      - name: Set up Deno
        uses: denoland/setup-deno@v2
      - name: Check Deno formatting
        run: deno fmt --check
