name: Code Quality Checks
on:
  pull_request:

permissions:
  contents: read

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Spell Check with Typos
        uses: crate-ci/typos@v1.43.5

      - name: Install Taplo
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: taplo-cli
          locked: true
      - name: Check TOML formatting
        run: taplo format --check
