name: Code Quality Checks
on:
  pull_request:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell Check with Typos
        uses: crate-ci/typos@master

      - name: Install Taplo
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: taplo-cli
          locked: true
      - name: Check TOML formatting
        run: taplo format --check
